<div class="details">
  <h2><%= @music.title%></h2>
  <br>
  <p>
    Artist: <%= @music.artist %>
  </p>
  <p>
    album: <%= @music.album %>
  </p>

  <p>
    Created at: <%= @music.created_at %>
  </p>


  <p>
    Submitted by:
      <% if @user.id == nil || @user.name == nil%>
        <%= "anonymous" %>
      <% else %>
      <strong><%= @user.name %></strong>
      <% end %>

  </p>



<form action="/music/<%= @music.id %>" method="POST">
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete this post">

</form>
  <p><em>Other posts by this user:</em></p>
  <% @music_by_author.each do |music| %>
  <% unless music.title == @music.title %>
    <p><strong><%= music.title %></strong></p>
    <% end %>
  <% end %>
</div>
